<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="cnts">
     Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div id="container">

    <ion-row>
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwb7evEnD5iByq5wW2YMXuS7DkhCz5ovynCpsWQwz1eg&s" class="imgcnt"></ion-img>
    </ion-row>

    <ion-row >
      <ion-button color="secondary" class="cnt btnwdt" routerLink="/register">Register</ion-button>
    </ion-row>

    <ion-row >
        <h2 class="cnt">or</h2>
    </ion-row>

    <ion-row >
      <ion-button color="secondary" class="cnt btnwdt" routerLink="/login">Login</ion-button>
    </ion-row>
   

   </div>
</ion-content>
