#container {
    
   
    width:60%;
    margin:auto;
  }
  
  .mg10
  {
    margin-top:30px;
   
  }


  .mg12
  {
    margin-top:35px;
    clear: both;
  }
  .cnts
  {
    margin:auto;
    width:80%;
    
  }

  .imgcnt
  {
    margin:auto;
  }

  .fntstyle
  {
    color: aqua;
    
  }

  .flrig
  {
    float:right;
  }

  .cnt
  {
    text-align: center;
  }

  .underl
  {
    text-decoration: underline;
    color:black;
  }

  .btndwn
  {
    margin-bottom:10px;
  }